Table of contents:
    01.Importing Libraries
    02.Descriptive Analysis of orders.csv

# 01. Importing Libraries

In [1]:
#import libraries
import pandas as pd
import numpy as np
import os

# 02. Importing data

In [ ]:
# import data
df = pd.read_csv(r'C:\Users\HP\OneDrive\Documents\Instacart basket analysis Career foundry\02 Data\original data\orders.csv',index_col=False)

In [2]:
path = r'C:\Users\user\OneDrive\Documents\Instacart basket analysis Career foundry'

In [11]:
path

'C:\\Users\\user\\OneDrive\\Documents\\Instacart basket analysis Career foundry'

In [3]:
vars_list = ['order_id', 'user_id', 'order_number', 'order_dow', 'order_hour_of_day', 'days_since_prior_order']

In [4]:
df = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), usecols = vars_list)

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3421083 entries, 0 to 3421082
Data columns (total 6 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int64
 1   user_id                 int64
 2   order_number            int64
 3   order_dow               int64
 4   order_hour_of_day       int64
 5   days_since_prior_order  float64
dtypes: float64(1), int64(5)
memory usage: 156.6 MB

In [5]:
df.isnull().sum()

order_id                       0
user_id                        0
order_number                   0
order_dow                      0
order_hour_of_day              0
days_since_prior_order    206209
dtype: int64

In [14]:
df.head()

,order_id,user_id,order_number,order_dow,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,NaN
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

#Importing product csv

In [16]:
df_prods= pd.read_csv(os.path.join(path,'02 Data','original Data','products.csv'), index_col = False)

In [17]:
df_prods.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49693 entries, 0 to 49692
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49693 non-null  int64
 1   product_name   49677 non-null  object
 2   aisle_id       49693 non-null  int64
 3   department_id  49693 non-null  int64
 4   prices         49693 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [ ]:
df_prods.head(20)

In [ ]:
df_prods.tail(30)

# names of the columns

In [ ]:
df_prods.columns

# number of rows and columns

In [ ]:
df_prods.shape

In [ ]:
df_prods.describe()

# Maximum value of aisle_id column is 134

In [ ]:
df_prods.dtypes

# Data type of department_id column is int64