Table od contents:
1) Importing Libraries
2) Importing 'oder_products_prior.csv' and 'oreders_Finalcleaned.csv'
3) performing consistency checks
4) Merging the datasets
5) Rxporting the final dataset 'order_products_combinedf.pkl'

# 1.Importing Pandas

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
path = r'C:\Users\user\OneDrive\Documents\Instacart basket analysis Career foundry'

In [3]:
print(os.path.join(path,'02 Data','original Data','order_products_prior.csv'))

C:\Users\user\OneDrive\Documents\Instacart basket analysis Career foundry\02 Data\original Data\order_products_prior.csv

In [ ]:
#Importing dataframes

In [4]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'prepared Data', 'orders_Finalcleaned.csv'), index_col = None)

In [5]:
df_ords_prior = pd.read_csv(os.path.join(path,'02 Data','original data','order_products_prior.csv'), index_col = False)

In [6]:
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [17]:
df_ords_prior.shape

(32434489, 4)

In [20]:
df_ords_prior.isnull().sum() #finding missing values

order_id             0
product_id           0
add_to_cart_order    0
reordered            0
dtype: int64

In [7]:
df_ords.head()

,Unnamed: 0.1,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,0,2539329,1,1,2,8,0.0
1,1,1,2398795,1,2,3,7,15.0
2,2,2,473747,1,3,3,12,21.0
3,3,3,2254736,1,4,4,7,29.0
4,4,4,431534,1,5,4,15,28.0

In [ ]:
df_ords.columns

In [8]:
df_ords.drop(columns = {'Unnamed: 0','Unnamed: 0.1'},inplace= True)

In [ ]:
df_ords.columns

In [9]:
df_ords.rename(columns={'order_hour_of_day':'order_time_of_day'}, inplace=True)

In [ ]:
df_ords.columns

In [ ]:
df_ords.info()

In [12]:
#changings df_ords datatype for preserving memory
df_ords['order_id']=df_ords['order_id'].astype('int32')
df_ords['user_id'] = df_ords['user_id'].astype('int32')
df_ords['order_number']=df_ords['order_number'].astype('int8')
df_ords['orders_day_of_week']=df_ords['orders_day_of_week'].astype('int8')
df_ords['order_time_of_day']=df_ords['order_time_of_day'].astype('int8')
df_ords['days_since_prior_order']=df_ords['days_since_prior_order'].astype('float16')

In [ ]:
df_ords.info()

In [ ]:
#checking datatype for df_ords_prior
df_ords_prior.info()

In [13]:
#Changing df_ords_prior datatype for preserving memory
df_ords_prior['order_id']= df_ords_prior['order_id'].astype('int32')
df_ords_prior['product_id']= df_ords_prior['product_id'].astype('int32')
df_ords_prior['add_to_cart_order']=df_ords_prior['add_to_cart_order'].astype('int32')
df_ords_prior['reordered']=df_ords_prior['reordered'].astype('int32')

# now check memeory usage for df_ords_prior

In [5]:
df_ords_prior.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32434489 entries, 0 to 32434488
Data columns (total 4 columns):
 #   Column             Dtype
---  ------             -----
 0   order_id           int64
 1   product_id         int64
 2   add_to_cart_order  int64
 3   reordered          int64
dtypes: int64(4)
memory usage: 989.8 MB

In [10]:
df_ords_prior.shape

(32434489, 4)

In [11]:
df_ords.shape

(3421083, 6)

In [14]:
#merging df_ords and df_ords_prior on order_id with default 'inner' join
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator=True)

In [22]:
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [16]:
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

In [ ]:
df_merged_large.to_pickle(os.path.join(path, '02 Data','prepared Data', 'orders_products_combinedf.pkl'))