Table of contents:
1) Importing libraries
2) importing 'orders_products_combinedf.pkl'
3) Importing 'products_final_checked1.csv'
4) Merging the datasets
5) Exporting the merged dataset as 'orders_products_merged1.pkl'

In [1]:
#Importing Pandas
import pandas as pd
import numpy as np
import os

In [2]:
#creating a path
path = r'C:\Users\user\OneDrive\Documents\Instacart basket analysis Career foundry'

In [3]:
path

'C:\\Users\\user\\OneDrive\\Documents\\Instacart basket analysis Career foundry'

In [4]:
#importing Dataframes
df_ords_prods_comb = (pd.read_pickle(os.path.join(path, '02 Data', 'prepared Data', 'orders_products_combinedf.pkl')))

In [5]:
df_ords_prods_comb.shape

(32434489, 10)

In [6]:
df_prods_fin = pd.read_csv(os.path.join(path, '02 Data', 'prepared Data', 'products_final_checked1.csv'), index_col = None)

In [7]:
df_prods_fin.shape

(49672, 6)

In [8]:
#checking the columns of both the datasets
df_ords_prods_comb.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,0.0,196,1,0,both
1,2539329,1,1,2,8,0.0,14084,2,0,both
2,2539329,1,1,2,8,0.0,12427,3,0,both
3,2539329,1,1,2,8,0.0,26088,4,0,both
4,2539329,1,1,2,8,0.0,26405,5,0,both

In [9]:
df_prods_fin.head()

,Unnamed: 0,product_id,product_name,aisle_id,department_id,prices
0,0,1,Chocolate Sandwich Cookies,61,19,5.8
1,1,2,All-Seasons Salt,104,13,9.3
2,2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,4,5,Green Chile Anytime Sauce,5,13,4.3

In [10]:
df_prods_fin['prices'].dtype

dtype('float64')

In [ ]:
# As we can see we have the column 'product_id' common to both datasets.
# We shall try to merge both the datasets on this column.
# But first we need to get rid of some unwanted columns in both the dataframes.

In [11]:
df_ords_prods_comb.drop(columns={'_merge'},inplace = True)

In [12]:
df_ords_prods_comb.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered'],
      dtype='object')

In [13]:
df_prods_fin.drop(columns= {'Unnamed: 0'},inplace = True)

In [14]:
df_prods_fin.columns

Index(['product_id', 'product_name', 'aisle_id', 'department_id', 'prices'], dtype='object')

In [ ]:
# we now need to reduce the memory usage of both data frames if possible.
# we shall first analyze the datatypes and memory information of each variable in both the files.

In [15]:
df_ords_prods_comb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32434489 entries, 0 to 32434488
Data columns (total 9 columns):
 #   Column                  Dtype
---  ------                  -----
 0   order_id                int32
 1   user_id                 int32
 2   order_number            int8
 3   orders_day_of_week      int8
 4   order_time_of_day       int8
 5   days_since_prior_order  float16
 6   product_id              int32
 7   add_to_cart_order       int32
 8   reordered               int32
dtypes: float16(1), int32(5), int8(3)
memory usage: 1020.8 MB

In [16]:
df_prods_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int64
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int64
 3   department_id  49672 non-null  int64
 4   prices         49672 non-null  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.9+ MB

In [17]:
#change types for df_prods_fin
df_prods_fin['product_id']= df_prods_fin['product_id'].astype('int32')
df_prods_fin['aisle_id']= df_prods_fin['aisle_id'].astype('int8')
df_prods_fin['department_id']= df_prods_fin['department_id'].astype('int8')

In [18]:
df_prods_fin.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49672 entries, 0 to 49671
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49672 non-null  int32
 1   product_name   49672 non-null  object
 2   aisle_id       49672 non-null  int8
 3   department_id  49672 non-null  int8
 4   prices         49672 non-null  float64
dtypes: float64(1), int32(1), int8(2), object(1)
memory usage: 1.0+ MB

In [19]:
# Now we shall try to merge the dataframes
df_merge_fin = df_ords_prods_comb.merge(df_prods_fin, on = 'product_id', indicator=True)

In [20]:
# we shall check the columns in the merged Dataframe
df_merge_fin.head()

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,1,2,8,0.0,196,1,0,Soda,77,7,9.0,both
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both

In [21]:
df_merge_fin['_merge'].value_counts(dropna = False)

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [22]:
df_merge_fin.shape

(32404859, 14)

In [ ]:
df_merge_fin.to_pickle(os.path.join(path, '02 Data','prepared Data', 'orders_products_merged1.pkl'))